{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": ["eslint:recommended", "preact"],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"no-unused-vars": "off",
		"@typescript-eslint/no-unused-vars": [
			"error",
			{
				"argsIgnorePattern": "^_",
				"varsIgnorePattern": "^_",
				"caughtErrorsIgnorePattern": "^_"
			}
		],
		"no-useless-constructor": "off",
		"@typescript-eslint/no-useless-constructor": "error",
		"jest/no-done-callback": "off",
		"react/jsx-key": "warn",
		"react/no-array-index-key": "warn"
	},
	"plugins": ["@typescript-eslint"]
}
